@using Microsoft.AspNetCore.Authentication;
@model MyWeb.Controllers.HomeController.InputModelLogin
@{
    var login = ViewData["login"] as IList<AuthenticationScheme>;
}
@section header{
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
}
<div class="login-box" style="margin: 0 auto">
  <div class="login-logo">
    <a href="../../index2.html"><b>Login</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
       <partial name="_StatusMessage" model="@TempData["danger"]"></partial>
    <div class="card-body login-card-body">
      <p class="login-box-msg">Đăng nhập với tài khoản vủa bạn</p>

      <form method="post">
          <span asp-validation-for="Email" class="text-danger"></span>
        <div class="input-group mb-3">
          <input type="email" class="form-control" asp-for="Email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="input-group mb-3">
          <input type="password" class="form-control" asp-for="Password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" asp-for="RememberMe">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <form id="external-account" asp-action="LoginAuthen" method="post" class="form-horizontal">
            <div>
                @foreach (var provider in login)
                {
                    <button type="submit" class="btn btn-primary mt-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                        @if(@provider.DisplayName == "Google")
                        {
                            <i class="fab fa-facebook"></i> 
                        }
                        else
                        {
                            <i class="fab fa-google-plus"></i> 
                        }
                        Login with @provider.DisplayName
                    </button>
                }
            </div>
        </form>
      </div>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}